<main class="">
  <div class="header">
    <h1>Rooms</h1>
    <%= link_to "New Room",
                new_room_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @rooms %>
</main>