<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-masthead">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Buddles Inn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Rooms</a>
        <%= link_to "Contact Us", contact_path, class: "nav-link" %>
        <% if user_signed_in? %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn0 btn-outline-secondary' %>
          <%= link_to "Admin Panel", rentals_path, class: 'btn btn2 btn-outline-secondary' %>

        <% else %>
          <a href="<%= new_user_session_path %>" class="btn btn-outline-secondary">LOGIN</i></a>
        <% end %>
      </div>
    </div>    
  </div>
</nav>