<%= form_with model: @rental do |f| %>
  <div class="d-flex justify-content-center ">
    <%= f.submit "CONFIRM CHECKOUT", class: "btn btn-lg btn-primary align-self-center" %>
  </div>     
  <%= hidden_field_tag :room_id, @room %>
<% end %>