<main class="contact-us">
    <div class="contact-us2">
        <h2 class="contact-title"> <hr> CONTACT US <hr> </h2>
        <%= link_to "See Available Rooms", root_path, class: "btn btn2 btn-warning" %>
        <p class="phone1"><i class="bi bi-telephone-fill"></i> 876 123-4567</p>
        <p class="phone2"><i class="bi bi-telephone-fill"></i> 876 123-4567</p>
        <p class="email1"><i class="bi bi-envelope-paper-fill"></i> example876@gmail.com</p>
    </div>
     <div id="map"></div>
</main>
